@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white scrollbar-thin scrollbar-track-transparent scrollbar-thumb-slate-600;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
}

.box {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
// pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @apply mt-5;
  .selected {
    @apply text-primary;
  }
}
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.meta {
  @apply mt-5;
  .swiper-slide {
    @apply w-full opacity-60 pb-12;
  }
  .swiper-slide-active {
    @apply opacity-100;
  }
  .swiper-pagination-bullet {
    @apply bg-primary;
  }
  .swiper-button-next,
  .swiper-button-prev {
    // @apply text-primary;
    opacity: 1;
    transition: 0.5s ease-in-out;
    &:after {
      @apply xs:text-2xl md:text-4xl;
    }
  }
  .swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .swiper {
    @apply xs:px-6 md:px-16;
  }
}
.similar {
  @apply mt-5;
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
.image-slide {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet {
    @apply bg-primary;
  }
  .swiper-slide {
    @apply h-[500px] rounded-lg;
  }
}

.title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  position: relative;
}
.title:before {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.title:after {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}
